<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addClient</servlet-name>
        <servlet-class>za.ac.tut.addClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWHCL</servlet-name>
        <servlet-class>za.ac.tut.viewWHCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAverage</servlet-name>
        <servlet-class>za.ac.tut.viewAverage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRange</servlet-name>
        <servlet-class>za.ac.tut.viewRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSpecific</servlet-name>
        <servlet-class>za.ac.tut.viewSpecific</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addClient</servlet-name>
        <url-pattern>/addClient.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWHCL</servlet-name>
        <url-pattern>/viewWHCL.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAverage</servlet-name>
        <url-pattern>/viewAverage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRange</servlet-name>
        <url-pattern>/viewRange.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSpecific</servlet-name>
        <url-pattern>/viewSpecific.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
